.contentWrapper {
  margin-top: 8rem;
  margin-left: 2rem;
  position: relative;

  & > .recursiveWrapper > div {
    border-right: 0.1rem solid #e7e7f1;
    padding: 0 1rem;
  }
}

.recursiveWrapper {
  display: flex;
  justify-items: flex-start;
}

.downArrow {
  opacity: 0;
  left: 6.3rem;
  position: relative;
  color: #66b9e1;
  cursor: pointer;
}

.downArrow:hover {
  opacity: 1;
}
