.header {
  width: 100%;
  background: #fff;
  position: fixed;
  z-index: 1;
  float: left;
  display: flex;
  justify-content: space-between;
  height: 6rem;
  top: 0;
  left: 0;
  box-shadow: 0 0.4rem 0.8rem 0.2rem rgba(0, 0, 0, 0.05);
  border-bottom: 0.1rem solid #edeef0;
}

.logo {
  font-size: 2rem;
  font-weight: 700;
  padding: 1.5rem;
}

.profile {
  font-size: 1.6rem;
  color: #2d7dd2;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  width: 10%;
  align-items: center;
}

.csv {
  text-decoration: none;
  color: #2d7dd2;
}
