@import url("https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");

html {
  font-family: sans-serif;
  line-height: 1.4;
  font-size: 62.5%;
  box-sizing: border-box;
  background: #eff1f5;
}
